# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tardis\OneDrive - Nackademin AB\Objekt_Prog\Inläminingsuppgifter\BattleSimulator_OOP_U3_Kvalit20\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
